In [1]:
import yfinance as yf
import os
import pandas as pd
from datetime import datetime

start_date = "2020-01-01"
end_date = datetime.today()
data_df = yf.download( "FB", start=start_date, end=end_date)[['Open', 'Close', 'Low', 'High', 'Volume']]
data_df.reset_index(inplace=True)
data_df = data_df.rename(columns={"Open": "Stock_Open", "Close": "Stock_Close", "Low": "Stock_Low","High": "Stock_High","Volume": "Stock_Volume"})

[*********************100%***********************]  1 of 1 completed

In [2]:
DATA_DIR = "./DATA"
DOW_FILE_PATH = "Dow_daily.csv"
NASDAQ_FILE_PATH = "Nasdaq_daily.csv"
SP500_FILE_PATH = "SP500_daily.csv"

dow_df = pd.read_csv(os.path.join(DATA_DIR, DOW_FILE_PATH))[['Open', 'Close', 'Low', 'High']]
dow_df = dow_df.rename(columns={"Open": "Dow_Open", "Close": "Dow_Close", "Low": "Dow_Low","High": "Dow_High"})

In [3]:
concat_df = pd.concat([data_df, dow_df.reindex(data_df.index)], axis=1)

In [4]:
concat_df

,Date,Stock_Open,Stock_Close,Stock_Low,Stock_High,Stock_Volume,Dow_Open,Dow_Close,Dow_Low,Dow_High
0,2020-01-02,206.750000,209.779999,206.270004,209.789993,12077100,3152.100098,3172.399902,3139.310059,3172.629883
1,2020-01-03,207.210007,208.669998,206.949997,210.399994,11188400,3172.399902,3201.500000,3165.919922,3210.639893
2,2020-01-06,206.699997,212.600006,206.520004,212.779999,17058900,3201.500000,3200.100098,3191.860107,3213.330078
3,2020-01-07,212.820007,213.059998,211.750000,214.580002,14912400,3200.100098,3204.800049,3184.479980,3210.199951
4,2020-01-08,213.000000,215.220001,212.610001,216.240005,13475000,3204.800049,3203.899902,3185.820068,3229.199951
...,...,...,...,...,...,...,...,...,...,...
306,2021-03-22,290.450012,293.540009,286.750000,299.709991,28273100,3426.699951,3465.639893,3426.699951,3477.530029
307,2021-03-23,293.149994,290.630005,289.809998,298.000000,23000900,3465.600098,3471.580078,3459.159912,3477.260010
308,2021-03-24,291.000000,282.140015,281.160004,291.720001,18675000,3470.800049,3463.479980,3444.030029,3470.800049
309,2021-03-25,280.980011,278.739990,277.750000,288.059998,24505600,3463.500000,3461.860107,3453.479980,3469.689941
310,2021-03-26,278.299988,283.019989,277.769989,284.500000,17620600,3450.500000,3445.379883,3430.250000,3450.500000

In [5]:
nasdaq_df = pd.read_csv(os.path.join(DATA_DIR, NASDAQ_FILE_PATH))[['Open', 'Close', 'Low', 'High']]
nasdaq_df = nasdaq_df.rename(columns={"Open": "Nasdaq_Open", "Close": "Nasdaq_Close", "Low": "Nasdaq_Low","High": "Nasdaq_High"})
concat_df = pd.concat([concat_df, nasdaq_df.reindex(concat_df.index)], axis=1)

In [6]:
concat_df

,Date,Stock_Open,Stock_Close,Stock_Low,Stock_High,Stock_Volume,Dow_Open,Dow_Close,Dow_Low,Dow_High,Nasdaq_Open,Nasdaq_Close,Nasdaq_Low,Nasdaq_High
0,2020-01-02,206.750000,209.779999,206.270004,209.789993,12077100,3152.100098,3172.399902,3139.310059,3172.629883,452.899994,459.299988,452.700012,459.299988
1,2020-01-03,207.210007,208.669998,206.949997,210.399994,11188400,3172.399902,3201.500000,3165.919922,3210.639893,461.100006,460.899994,460.000000,461.600006
2,2020-01-06,206.699997,212.600006,206.520004,212.779999,17058900,3201.500000,3200.100098,3191.860107,3213.330078,460.399994,459.399994,456.899994,460.799988
3,2020-01-07,212.820007,213.059998,211.750000,214.580002,14912400,3200.100098,3204.800049,3184.479980,3210.199951,457.899994,458.200012,457.799988,459.399994
4,2020-01-08,213.000000,215.220001,212.610001,216.240005,13475000,3204.800049,3203.899902,3185.820068,3229.199951,457.100006,458.700012,456.500000,458.700012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,2021-03-22,290.450012,293.540009,286.750000,299.709991,28273100,3426.699951,3465.639893,3426.699951,3477.530029,460.170013,462.809998,459.040009,464.359985
307,2021-03-23,293.149994,290.630005,289.809998,298.000000,23000900,3465.600098,3471.580078,3459.159912,3477.260010,462.209991,466.089996,461.880005,466.119995
308,2021-03-24,291.000000,282.140015,281.160004,291.720001,18675000,3470.800049,3463.479980,3444.030029,3470.800049,468.309998,464.600006,464.250000,469.410004
309,2021-03-25,280.980011,278.739990,277.750000,288.059998,24505600,3463.500000,3461.860107,3453.479980,3469.689941,464.309998,464.149994,463.040009,464.779999
310,2021-03-26,278.299988,283.019989,277.769989,284.500000,17620600,3450.500000,3445.379883,3430.250000,3450.500000,465.299988,468.489990,464.760010,469.100006

In [7]:
sp500_df = pd.read_csv(os.path.join(DATA_DIR, SP500_FILE_PATH))[['Open', 'Close', 'Low', 'High']]
sp500_df = sp500_df.rename(columns={"Open": "SP500_Open", "Close": "SP500_Close", "Low": "SP500_Low","High": "SP500_High"})
concat_df = pd.concat([concat_df, sp500_df.reindex(concat_df.index)], axis=1)

In [8]:
concat_df

,Date,Stock_Open,Stock_Close,Stock_Low,Stock_High,Stock_Volume,Dow_Open,Dow_Close,Dow_Low,Dow_High,Nasdaq_Open,Nasdaq_Close,Nasdaq_Low,Nasdaq_High,SP500_Open,SP500_Close,SP500_Low,SP500_High
0,2020-01-02,206.750000,209.779999,206.270004,209.789993,12077100,3152.100098,3172.399902,3139.310059,3172.629883,452.899994,459.299988,452.700012,459.299988,353.399994,359.690002,351.980011,359.690002
1,2020-01-03,207.210007,208.669998,206.949997,210.399994,11188400,3172.399902,3201.500000,3165.919922,3210.639893,461.100006,460.899994,460.000000,461.600006,359.690002,358.760010,357.890015,360.589996
2,2020-01-06,206.699997,212.600006,206.520004,212.779999,17058900,3201.500000,3200.100098,3191.860107,3213.330078,460.399994,459.399994,456.899994,460.799988,358.760010,355.670013,352.890015,358.760010
3,2020-01-07,212.820007,213.059998,211.750000,214.580002,14912400,3200.100098,3204.800049,3184.479980,3210.199951,457.899994,458.200012,457.799988,459.399994,355.670013,352.200012,351.350006,355.670013
4,2020-01-08,213.000000,215.220001,212.610001,216.240005,13475000,3204.800049,3203.899902,3185.820068,3229.199951,457.100006,458.700012,456.500000,458.700012,352.200012,353.790009,350.540009,354.239990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,2021-03-22,290.450012,293.540009,286.750000,299.709991,28273100,3426.699951,3465.639893,3426.699951,3477.530029,460.170013,462.809998,459.040009,464.359985,372.109985,366.589996,366.540009,372.109985
307,2021-03-23,293.149994,290.630005,289.809998,298.000000,23000900,3465.600098,3471.580078,3459.159912,3477.260010,462.209991,466.089996,461.880005,466.119995,366.589996,367.920013,365.799988,368.850006
308,2021-03-24,291.000000,282.140015,281.160004,291.720001,18675000,3470.800049,3463.479980,3444.030029,3470.800049,468.309998,464.600006,464.250000,469.410004,367.940002,366.579987,366.510010,371.010010
309,2021-03-25,280.980011,278.739990,277.750000,288.059998,24505600,3463.500000,3461.860107,3453.479980,3469.689941,464.309998,464.149994,463.040009,464.779999,366.579987,367.480011,365.579987,368.220001
310,2021-03-26,278.299988,283.019989,277.769989,284.500000,17620600,3450.500000,3445.379883,3430.250000,3450.500000,465.299988,468.489990,464.760010,469.100006,367.480011,369.829987,367.459991,371.309998